In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("https://raw.githubusercontent.com/benvictoria17/Finance/master/dataset/Car%20Prices%20Poland/Car_Prices_Poland_Kaggle.csv")

In [3]:
dataset.head()

,Unnamed: 0,mark,model,generation_name,year,mileage,vol_engine,fuel,city,province,price
0,0,opel,combo,gen-d-2011,2015,139568,1248,Diesel,Janki,Mazowieckie,35900
1,1,opel,combo,gen-d-2011,2018,31991,1499,Diesel,Katowice,Śląskie,78501
2,2,opel,combo,gen-d-2011,2015,278437,1598,Diesel,Brzeg,Opolskie,27000
3,3,opel,combo,gen-d-2011,2016,47600,1248,Diesel,Korfantów,Opolskie,30800
4,4,opel,combo,gen-d-2011,2014,103000,1400,CNG,Tarnowskie Góry,Śląskie,35900

In [4]:
dataset.shape

(117927, 11)

In [5]:
dataset.isnull().sum()

Unnamed: 0             0
mark                   0
model                  0
generation_name    30085
year                   0
mileage                0
vol_engine             0
fuel                   0
city                   0
province               0
price                  0
dtype: int64

In [6]:
dataset=dataset.drop(["Unnamed: 0","generation_name"],axis=1)
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset["fuel"]=le.fit_transform(dataset["fuel"])
dataset["city"]=le.fit_transform(dataset["city"])
dataset["province"]=le.fit_transform(dataset["province"])
dataset["mark"]=le.fit_transform(dataset["mark"])
dataset["model"]=le.fit_transform(dataset["model"])
dataset

        mark  model  year  mileage  vol_engine  fuel  city  province   price
0         15     89  2015   139568        1248     1  1161         6   35900
1         15     89  2018    31991        1499     1  1365        21   78501
2         15     89  2015   278437        1598     1   300        11   27000
3         15     89  2016    47600        1248     1  1510        11   30800
4         15     89  2014   103000        1400     0  3606        21   35900
...      ...    ...   ...      ...         ...   ...   ...       ...     ...
117922    22    321  2020    40000        1969     4  1365        21  222790
117923    22    321  2017    51000        1969     1   419        20  229900
117924    22    321  2016    83500        1969     3  2774        14  135000
117925    22    321  2017   174000        1969     1  1304        18  154500
117926    22    321  2016   189020        1969     3  3177         6  130000

[117927 rows x 9 columns]

In [7]:
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values
X

array([[  15,   89, 2015, ...,    1, 1161,    6],
       [  15,   89, 2018, ...,    1, 1365,   21],
       [  15,   89, 2015, ...,    1,  300,   11],
       ...,
       [  22,  321, 2016, ...,    3, 2774,   14],
       [  22,  321, 2017, ...,    1, 1304,   18],
       [  22,  321, 2016, ...,    3, 3177,    6]])

In [8]:
from sklearn.preprocessing import StandardScaler
SD=StandardScaler()
X=SD.fit_transform(X)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=42)
from sklearn.linear_model import LinearRegression
LG=LinearRegression()
LG.fit(X_train,y_train)

LG.score(X_test,y_test)

0.5868933371653282

In [9]:
from sklearn.tree import DecisionTreeRegressor,plot_tree
DTR=DecisionTreeRegressor()
DTR.fit(X_train,y_train)

DTR.score(X_test,y_test)

0.9059404102156056

In [10]:
from sklearn.ensemble import RandomForestRegressor
RFR=RandomForestRegressor(n_estimators=10,random_state=42)
RFR.fit(X_train,y_train)

RFR.score(X_test,y_test)

0.9339888125826791

In [11]:
from sklearn.linear_model import Lasso
L=Lasso(alpha=.2)
L.fit(X_train,y_train)

L.score(X_test,y_test)

0.5868931964603525

In [12]:
from sklearn.linear_model import Ridge
R=Ridge(alpha=.2)
R.fit(X_train,y_train)

R.score(X_test,y_test)

0.586893327854162

In [13]:
models=[LG,DTR,RFR,L,R]
name=["LG","DTR","RFR","L","R"]
for i,model in enumerate(models):
    print(f"model {name[i]}")
    print(model.score(X_test,y_test))

model LG
0.5868933371653282
model DTR
0.9059404102156056
model RFR
0.9339888125826791
model L
0.5868931964603525
model R
0.586893327854162