In [19]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("whitegrid")
import statistics
from scipy import stats
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,mean_squared_error
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures 
from statsmodels.formula.api import ols
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
import statsmodels.api as sm

In [20]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("whitegrid")
import statistics
from scipy import stats
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,mean_squared_error
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures 
from statsmodels.formula.api import ols
from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
import statsmodels.api as sm

In [21]:
df = pd.read_csv("https://raw.githubusercontent.com/benvictoria17/DataAnalytics/master/dataset/Earthquakes/Earthquakes.csv")

In [22]:
df.head(2)

,No,Date(UTC),Ref1,Source Description 1,Latitude,Longitude,Depth,Constant Deg.,Source No 2,Source Description 2,Type,Magnitude,Source No 3,Source Description 3
0,0,2018-10-14 15:08:32,0,,36.8578,44.4161,16.97,No,7,AFAD-DDA,Mw,4.0,7,AFAD-DDA
1,0,2018-10-10 09:08:24,0,,37.4341,35.8520,7.02,No,7,AFAD-DDA,Mw,4.1,7,AFAD-DDA

In [23]:
df.shape

(6574, 14)

In [24]:
df.columns

Index(['No', 'Date(UTC)', 'Ref1', 'Source Description 1', 'Latitude',
       'Longitude', 'Depth', 'Constant Deg.', 'Source No 2',
       'Source Description 2', 'Type', 'Magnitude', 'Source No 3',
       'Source Description 3'],
      dtype='object')

In [25]:
df.dtypes

No                        int64
Date(UTC)                object
Ref1                      int64
Source Description 1     object
Latitude                float64
Longitude               float64
Depth                   float64
Constant Deg.            object
Source No 2               int64
Source Description 2     object
Type                     object
Magnitude               float64
Source No 3               int64
Source Description 3     object
dtype: object

In [26]:
df["Type"].value_counts()

mb     3472
MS     1346
Ml      907
Mw      708
Md      121
ML       18
Mwp       1
md        1
Name: Type, dtype: int64

In [32]:
df

,No,Date(UTC),Ref1,Source Description 1,Latitude,Longitude,Depth,Constant Deg.,Source No 2,Source Description 2,Type,Magnitude,Source No 3,Source Description 3
0,0,2018-10-14 15:08:32,0,,36.8578,44.4161,16.97,No,7,AFAD-DDA,Mw,4.0,7,AFAD-DDA
1,0,2018-10-10 09:08:24,0,,37.4341,35.8520,7.02,No,7,AFAD-DDA,Mw,4.1,7,AFAD-DDA
2,0,2018-10-02 15:29:03,0,,37.6878,37.4016,10.27,No,7,AFAD-DDA,Mw,4.4,7,AFAD-DDA
3,0,2018-09-28 00:26:32,0,,37.2003,30.4376,78.07,No,7,AFAD-DDA,Mw,4.0,7,AFAD-DDA
4,0,2018-09-26 02:52:21,0,,35.6846,26.7266,42.77,No,7,AFAD-DDA,Mw,4.5,7,AFAD-DDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,6,1900-02-06 15:09:00,2,No Second data,38.1200,31.2900,10.00,Yes,2,Ambraseys-Finkel 1987,MS,5.7,2,Ambraseys-Finkel 1987
6570,5,1900-01-30 01:00:00,2,No Second data,37.8300,27.7100,10.00,Yes,2,Ambraseys-Finkel 1987,MS,4.4,2,Ambraseys-Finkel 1987
6571,4,1900-01-27 02:30:00,2,No Second data,37.6300,37.3700,10.00,Yes,2,Ambraseys-Finkel 1987,MS,4.8,2,Ambraseys-Finkel 1987
6572,3,1900-01-24 03:00:00,2,No Second data,39.5400,26.1400,10.00,Yes,2,Ambraseys-Finkel 1987,MS,5.2,2,Ambraseys-Finkel 1987
6573,2,1900-01-18 15:30:00,2,No Second data,37.7900,28.2100,10.00,Yes,2,Ambraseys-Finkel 1987,MS,4.4,2,Ambraseys-Finkel 1987