In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("https://raw.githubusercontent.com/benvictoria17/DataVisualization/master/dataset/HR%20Data%20for%20Analytics/HR_comma_sep.csv")

In [6]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [7]:
data.shape

(14999, 10)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [10]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [12]:
data.sales.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [13]:
data.sales=label_encoder.fit_transform(data.sales)

In [14]:
data.salary.unique()

array(['low', 'medium', 'high'], dtype=object)

In [15]:
data.salary=label_encoder.fit_transform(data.salary)
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [16]:
y=data["left"]
y.unique()

array([1, 0])

In [17]:
X=data.drop(['left'],axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train,y_train)

/Users/thomo/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
model.predict(X_test)

array([0, 0, 1, ..., 0, 1, 0])

In [20]:
model.score(X_test,y_test)

0.7662626262626263

In [21]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [22]:
data.satisfaction_level=data.satisfaction_level*10

In [23]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,3.8,0.53,2,157,3,0,1,0,7,1
1,8.0,0.86,5,262,6,0,1,0,7,2
2,1.1,0.88,7,272,4,0,1,0,7,2
3,7.2,0.87,5,223,5,0,1,0,7,1
4,3.7,0.52,2,159,3,0,1,0,7,1

In [24]:
data.last_evaluation=data.last_evaluation*10
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,3.8,5.3,2,157,3,0,1,0,7,1
1,8.0,8.6,5,262,6,0,1,0,7,2
2,1.1,8.8,7,272,4,0,1,0,7,2
3,7.2,8.7,5,223,5,0,1,0,7,1
4,3.7,5.2,2,159,3,0,1,0,7,1

In [25]:
X=data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
model.fit(X_train,y_train)

/Users/thomo/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [26]:
model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0])

In [27]:
model.score(X_test,y_test)

1.0

In [28]:
model.predict_proba(X_test)

array([[9.99642233e-01, 3.57767042e-04],
       [9.99560467e-01, 4.39533365e-04],
       [9.98316136e-01, 1.68386447e-03],
       ...,
       [9.99038078e-01, 9.61922136e-04],
       [9.98953132e-01, 1.04686791e-03],
       [9.99744232e-01, 2.55767536e-04]])