In [78]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance

In [79]:
INTC = "INTC"

In [80]:
INTC = yfinance.download("INTC")

INTC

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
1980-03-17   0.325521   0.330729   0.325521   0.325521   0.200768  10924800
1980-03-18   0.325521   0.328125   0.322917   0.322917   0.199162  17068800
1980-03-19   0.330729   0.335938   0.330729   0.330729   0.203981  18508800
1980-03-20   0.330729   0.334635   0.329427   0.329427   0.203178  11174400
1980-03-21   0.322917   0.322917   0.317708   0.317708   0.195950  12172800
...               ...        ...        ...        ...        ...       ...
2021-01-28  54.790001  57.400002  54.700001  56.070000  56.070000  49202600
2021-01-29  55.980000  57.160000  55.360001  55.509998  55.509998  37238000
2021-02-01  55.950001  57.389999  55.709999  56.689999  56.689999  26926600
2021-02-02  57.189999  58.279999  56.880001  58.000000  58.000000  23552700
2021-02-03  57.894299  58.330002  57.380001  57.825001  57.825001   7657237

[10310 rows x 6 columns]

In [81]:
INTC.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-01-28  54.790001  57.400002  54.700001  56.070000  56.070000  49202600
2021-01-29  55.980000  57.160000  55.360001  55.509998  55.509998  37238000
2021-02-01  55.950001  57.389999  55.709999  56.689999  56.689999  26926600
2021-02-02  57.189999  58.279999  56.880001  58.000000  58.000000  23552700
2021-02-03  57.894299  58.330002  57.380001  57.825001  57.825001   7657237

In [82]:
INTC.describe()

,Open,High,Low,Close,Adj Close,Volume
count,10310.000000,10310.000000,10310.000000,10310.000000,10310.000000,1.031000e+04
mean,18.510017,18.767176,18.258281,18.510539,14.192332,5.139280e+07
std,16.755015,16.997091,16.525709,16.756945,14.549054,3.542343e+07
min,0.218750,0.218750,0.216146,0.216146,0.133310,0.000000e+00
25%,1.188802,1.218750,1.171875,1.195313,0.737222,2.727222e+07
50%,19.520000,19.790001,19.280001,19.525001,12.929085,4.576950e+07
75%,28.177500,28.559999,27.747500,28.190001,19.682407,6.572275e+07
max,75.625000,75.828125,73.625000,74.875000,66.808777,5.677088e+08

In [83]:
INTC.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10310 entries, 1980-03-17 to 2021-02-03
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       10310 non-null  float64
 1   High       10310 non-null  float64
 2   Low        10310 non-null  float64
 3   Close      10310 non-null  float64
 4   Adj Close  10310 non-null  float64
 5   Volume     10310 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 563.8 KB

In [84]:
INTC.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [85]:
INTC.count

<bound method DataFrame.count of                  Open       High        Low      Close  Adj Close    Volume
Date
1980-03-17   0.325521   0.330729   0.325521   0.325521   0.200768  10924800
1980-03-18   0.325521   0.328125   0.322917   0.322917   0.199162  17068800
1980-03-19   0.330729   0.335938   0.330729   0.330729   0.203981  18508800
1980-03-20   0.330729   0.334635   0.329427   0.329427   0.203178  11174400
1980-03-21   0.322917   0.322917   0.317708   0.317708   0.195950  12172800
...               ...        ...        ...        ...        ...       ...
2021-01-28  54.790001  57.400002  54.700001  56.070000  56.070000  49202600
2021-01-29  55.980000  57.160000  55.360001  55.509998  55.509998  37238000
2021-02-01  55.950001  57.389999  55.709999  56.689999  56.689999  26926600
2021-02-02  57.189999  58.279999  56.880001  58.000000  58.000000  23552700
2021-02-03  57.894299  58.330002  57.380001  57.825001  57.825001   7657237

[10310 rows x 6 columns]>

In [87]:
INTC.sum()

Open         1.908383e+05
High         1.934896e+05
Low          1.882429e+05
Close        1.908437e+05
Adj Close    1.463229e+05
Volume       5.298598e+11
dtype: float64

In [ ]:
INTC.all()

In [ ]:
INTC.any()

In [ ]:
INTC.abs()

In [ ]:
INTC.add

In [ ]:
INTC.add_prefix

In [88]:
INTC.add_suffix

<bound method NDFrame.add_suffix of                  Open       High        Low      Close  Adj Close    Volume
Date
1980-03-17   0.325521   0.330729   0.325521   0.325521   0.200768  10924800
1980-03-18   0.325521   0.328125   0.322917   0.322917   0.199162  17068800
1980-03-19   0.330729   0.335938   0.330729   0.330729   0.203981  18508800
1980-03-20   0.330729   0.334635   0.329427   0.329427   0.203178  11174400
1980-03-21   0.322917   0.322917   0.317708   0.317708   0.195950  12172800
...               ...        ...        ...        ...        ...       ...
2021-01-28  54.790001  57.400002  54.700001  56.070000  56.070000  49202600
2021-01-29  55.980000  57.160000  55.360001  55.509998  55.509998  37238000
2021-02-01  55.950001  57.389999  55.709999  56.689999  56.689999  26926600
2021-02-02  57.189999  58.279999  56.880001  58.000000  58.000000  23552700
2021-02-03  57.894299  58.330002  57.380001  57.825001  57.825001   7657237

[10310 rows x 6 columns]>

In [ ]:
uber.agg

In [ ]:
uber.aggregate

In [ ]:
uber.align

In [ ]:
uber.align

In [ ]:
uber.align

In [ ]:
INTC.append

In [ ]:
INTC.append

In [ ]:
INTC.join

In [ ]:
tips = sns.load_dataset("tips")
sns.relplot(x="total_bill", y="tip", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker", style="smoker",
            data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker", style="time", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="size", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="size", palette="ch:r=-.5,l=.75", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", size="size", data=tips);

In [ ]:
sns.relplot(x="total_bill", y="tip", size="size", sizes=(15, 200), data=tips);

In [ ]:
df = pd.DataFrame(dict(time=np.arange(500),
                       value=np.random.randn(500).cumsum()))
g = sns.relplot(x="time", y="value", kind="line", data=df)
g.fig.autofmt_xdate()

In [ ]:
df = pd.DataFrame(np.random.randn(500, 2).cumsum(axis=0), columns=["x", "y"])
sns.relplot(x="x", y="y", sort=False, kind="line", data=df);

In [ ]:
fmri = sns.load_dataset("fmri")
sns.relplot(x="timepoint", y="signal", kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", ci=None, kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", kind="line", ci="sd", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", estimator=None, kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="event", kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="region", style="event",
            kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="region", style="event",
            dashes=False, markers=True, kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="event", style="event",
            kind="line", data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="region",
            units="subject", estimator=None,
            kind="line", data=fmri.query("event == 'stim'"));

In [ ]:
dots = sns.load_dataset("dots").query("align == 'dots'")
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            kind="line", data=dots);

In [ ]:
palette = sns.cubehelix_palette(light=.8, n_colors=6)
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            palette=palette,
            kind="line", data=dots);

In [ ]:
from matplotlib.colors import LogNorm
palette = sns.cubehelix_palette(light=.7, n_colors=6)
sns.relplot(x="time", y="firing_rate",
            hue="coherence", style="choice",
            hue_norm=LogNorm(),
            kind="line",
            data=dots.query("coherence > 0"));

In [ ]:
sns.relplot(x="time", y="firing_rate",
            size="coherence", style="choice",
            kind="line", data=dots);

In [ ]:
sns.relplot(x="time", y="firing_rate",
           hue="coherence", size="choice",
           palette=palette,
           kind="line", data=dots);

In [ ]:
df = pd.DataFrame(dict(time=pd.date_range("2017-1-1", periods=500),
                       value=np.random.randn(500).cumsum()))
g = sns.relplot(x="time", y="value", kind="line", data=df)
g.fig.autofmt_xdate()

In [ ]:
sns.relplot(x="total_bill", y="tip", hue="smoker",
            col="time", data=tips);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="subject",
            col="region", row="event", height=3,
            kind="line", estimator=None, data=fmri);

In [ ]:
sns.relplot(x="timepoint", y="signal", hue="event", style="event",
            col="subject", col_wrap=5,
            height=3, aspect=.75, linewidth=2.5,
            kind="line", data=fmri.query("region == 'frontal'"));