In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/benvictoria17/Finance/main/dataset/Groceries%20dataset%20for%20Market%20Basket%20Analysis(MBA)/Groceries%20data.csv")

In [3]:
df.head()

   Member_number        Date   itemDescription  year  month  day  day_of_week
0           1808  2015-07-21    tropical fruit  2015      7   21            1
1           2552  2015-05-01        whole milk  2015      5    1            4
2           2300  2015-09-19         pip fruit  2015      9   19            5
3           1187  2015-12-12  other vegetables  2015     12   12            5
4           3037  2015-01-02        whole milk  2015      1    2            4

In [4]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
df.head()

,Member_number,Date,itemDescription,year,month,day,day_of_week,date
0,1808,2015-07-21,tropical fruit,2015,7,21,1,2015-07-21
1,2552,2015-05-01,whole milk,2015,5,1,4,2015-05-01
2,2300,2015-09-19,pip fruit,2015,9,19,5,2015-09-19
3,1187,2015-12-12,other vegetables,2015,12,12,5,2015-12-12
4,3037,2015-01-02,whole milk,2015,1,2,4,2015-01-02

In [5]:
df['member_date'] = list(zip(df['Member_number'], df['date'].dt.date))
df['quantity'] = 1

In [6]:
df.shape

(38765, 10)