In [13]:
!pip3 install yfinance
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import yfinance
import seaborn as sns

Requirement already satisfied: yfinance in /opt/python/envs/default/lib/python3.8/site-packages (0.1.67)
Requirement already satisfied: requests>=2.20 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: numpy>=1.15 in /opt/python/envs/default/lib/python3.8/site-packages (from yfinance) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /opt/python/envs/default/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/python/envs/default/lib/python3.8/site-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/python/envs/default/lib/python3.8/site-packages (from requests>=2.20->yfinance) (2.0.7)
Requirement already satisfied: six>=1.5 in /opt/python/envs/default/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [14]:
paypal = yfinance.download("PYPL")
paypal

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-07-06,38.000000,39.750000,36.000000,36.709999,36.709999,5866600
2015-07-07,37.720001,37.810001,36.000000,36.619999,36.619999,7359000
2015-07-08,36.340000,36.360001,34.529999,34.700001,34.700001,5387700
2015-07-09,35.099998,35.520000,33.990002,34.500000,34.500000,3760100
2015-07-10,34.660000,35.189999,33.980000,34.689999,34.689999,4472800
...,...,...,...,...,...,...
2021-12-13,187.500000,190.199997,185.300003,186.380005,186.380005,11812200
2021-12-14,183.740005,189.143005,182.779999,186.800003,186.800003,11414200
2021-12-15,185.119995,191.100006,183.669998,190.660004,190.660004,11278500
2021-12-16,194.166000,195.240005,188.251007,188.750000,188.750000,12310500
2021-12-17,187.005005,187.839996,181.990005,185.695007,185.695007,8265984

In [15]:
paypal.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-07-06,38.000000,39.750000,36.000000,36.709999,36.709999,5866600
2015-07-07,37.720001,37.810001,36.000000,36.619999,36.619999,7359000
2015-07-08,36.340000,36.360001,34.529999,34.700001,34.700001,5387700
2015-07-09,35.099998,35.520000,33.990002,34.500000,34.500000,3760100
2015-07-10,34.660000,35.189999,33.980000,34.689999,34.689999,4472800

In [16]:
paypal.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-12-13,187.500000,190.199997,185.300003,186.380005,186.380005,11812200
2021-12-14,183.740005,189.143005,182.779999,186.800003,186.800003,11414200
2021-12-15,185.119995,191.100006,183.669998,190.660004,190.660004,11278500
2021-12-16,194.166000,195.240005,188.251007,188.750000,188.750000,12310500
2021-12-17,187.005005,187.839996,181.990005,185.695007,185.695007,8265984

In [17]:
paypal.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1628 entries, 2015-07-06 to 2021-12-17
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1628 non-null   float64
 1   High       1628 non-null   float64
 2   Low        1628 non-null   float64
 3   Close      1628 non-null   float64
 4   Adj Close  1628 non-null   float64
 5   Volume     1628 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 89.0 KB

In [18]:
paypal.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1628.000000,1628.000000,1628.000000,1628.000000,1628.000000,1.628000e+03
mean,109.749413,111.113328,108.138635,109.684260,109.684260,8.565357e+06
std,76.687163,77.626676,75.383706,76.544353,76.544353,4.946538e+06
min,30.820000,31.280001,30.000000,30.629999,30.629999,1.680000e+06
25%,42.107500,42.527499,41.785000,42.074999,42.074999,5.678775e+06
50%,85.779999,86.720001,84.584999,85.759998,85.759998,7.356950e+06
75%,140.667500,145.142506,139.712502,143.787498,143.787498,9.745575e+06
max,309.660004,310.160004,305.230011,308.529999,308.529999,6.399510e+07

In [20]:
tips = sns.load_dataset("tips")
g = sns.FacetGrid(tips, col="time")
g = sns.FacetGrid(tips, col="time")
g.map(sns.histplot, "tip")

In [21]:
g = sns.FacetGrid(tips, col="sex", hue="smoker")
g.map(sns.scatterplot, "total_bill", "tip", alpha=.7)
g.add_legend()

In [22]:
g = sns.FacetGrid(tips, row="smoker", col="time", margin_titles=True)
g.map(sns.regplot, "size", "total_bill", color=".3", fit_reg=False, x_jitter=.1)
g = sns.FacetGrid(tips, col="day", height=4, aspect=.5)
g.map(sns.barplot, "sex", "total_bill", order=["Male", "Female"])

In [23]:
ordered_days = tips.day.value_counts().index
g = sns.FacetGrid(tips, row="day", row_order=ordered_days,
                  height=1.7, aspect=4,)
g.map(sns.kdeplot, "total_bill")

In [24]:
pal = dict(Lunch="seagreen", Dinner=".7")
g = sns.FacetGrid(tips, hue="time", palette=pal, height=5)
g.map(sns.scatterplot, "total_bill", "tip", s=100, alpha=.5)
g.add_legend()

In [25]:
pal = dict(Lunch="seagreen", Dinner=".7")
g = sns.FacetGrid(tips, hue="time", palette=pal, height=5)
g.map(sns.scatterplot, "total_bill", "tip", s=100, alpha=.5)
g.add_legend()
attend = sns.load_dataset("attention").query("subject <= 12")
g = sns.FacetGrid(attend, col="subject", col_wrap=4, height=2, ylim=(0, 10))
g.map(sns.pointplot, "solutions", "score", order=[1, 2, 3], color=".3", ci=None)
with sns.axes_style("white"):
    g = sns.FacetGrid(tips, row="sex", col="smoker", margin_titles=True, height=2.5)
g.map(sns.scatterplot, "total_bill", "tip", color="#334488")
g.set_axis_labels("Total bill (US Dollars)", "Tip")
g.set(xticks=[10, 30, 50], yticks=[2, 6, 10])
g.figure.subplots_adjust(wspace=.02, hspace=.02)

In [26]:
g = sns.FacetGrid(tips, col="day", height=4, aspect=.5)
g.map(sns.barplot, "sex", "total_bill", order=["Male", "Female"])
with sns.axes_style("white"):
    g = sns.FacetGrid(tips, row="sex", col="smoker", margin_titles=True, height=2.5)
g.map(sns.scatterplot, "total_bill", "tip", color="#334488")
g.set_axis_labels("Total bill (US Dollars)", "Tip")
g.set(xticks=[10, 30, 50], yticks=[2, 6, 10])
g.figure.subplots_adjust(wspace=.02, hspace=.02)
g = sns.FacetGrid(tips, col="smoker", margin_titles=True, height=4)
g.map(plt.scatter, "total_bill", "tip", color="#338844", edgecolor="white", s=50, lw=1)
for ax in g.axes_dict.values():
    ax.axline((0, 0), slope=.2, c=".2", ls="--", zorder=0)
g.set(xlim=(0, 60), ylim=(0, 14))

In [29]:
def hexbin(x, y, color, **kwargs):
    cmap = sns.light_palette(color, as_cmap=True)
    plt.hexbin(x, y, gridsize=15, cmap=cmap, **kwargs)

with sns.axes_style("dark"):
    g = sns.FacetGrid(tips, hue="time", col="time", height=4)
g.map(hexbin, "total_bill", "tip", extent=[0, 50, 0, 10]);

In [30]:
iris = sns.load_dataset("iris")
g = sns.PairGrid(iris)
g.map(sns.scatterplot)
g = sns.PairGrid(iris)
g.map_diag(sns.histplot)
g.map_offdiag(sns.scatterplot)
g = sns.PairGrid(iris)
g.map_diag(sns.histplot)
g.map_offdiag(sns.scatterplot)

In [31]:
g = sns.PairGrid(iris)
g.map_diag(sns.histplot)
g.map_offdiag(sns.scatterplot)

In [34]:
g = sns.PairGrid(iris, hue="species")
g.map_diag(sns.histplot)
g.map_offdiag(sns.scatterplot)
g.add_legend()
g = sns.PairGrid(iris, vars=["sepal_length", "sepal_width"], hue="species")
g.map(sns.scatterplot)
g = sns.PairGrid(iris)
g.map_upper(sns.scatterplot)
g.map_lower(sns.kdeplot)
g.map_diag(sns.kdeplot, lw=3, legend=False)

In [35]:
g = sns.PairGrid(tips, y_vars=["tip"], x_vars=["total_bill", "size"], height=4)
g.map(sns.regplot, color=".3")
g.set(ylim=(-1, 11), yticks=[0, 5, 10])
g = sns.PairGrid(tips, hue="size", palette="GnBu_d")
g.map(plt.scatter, s=50, edgecolor="white")
g.add_legend()
sns.pairplot(iris, hue="species", height=2.5)
g = sns.pairplot(iris, hue="species", palette="Set2", diag_kind="kde", height=2.5)