In [0]:
import pandas as pd 
import os

In [0]:
!wget https://github.com/KeithGalli/Pandas-Data-Science-Tasks/archive/master.zip
!unzip master.zip

--2020-04-14 20:08:55--  https://github.com/KeithGalli/Pandas-Data-Science-Tasks/archive/master.zip
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://codeload.github.com/KeithGalli/Pandas-Data-Science-Tasks/zip/master [following]
--2020-04-14 20:08:56--  https://codeload.github.com/KeithGalli/Pandas-Data-Science-Tasks/zip/master
Resolving codeload.github.com (codeload.github.com)... 140.82.113.9
Connecting to codeload.github.com (codeload.github.com)|140.82.113.9|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘master.zip.1’

master.zip.1            [     <=>            ]   4.83M  3.31MB/s    in 1.5s

2020-04-14 20:08:59 (3.31 MB/s) - ‘master.zip.1’ saved [5064097]

Archive:  master.zip
c06b91806cace19e488dcf8cfc042f49a1335676
replace Pandas-Data-Science-Tasks-master/Misc/create_data.py? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
files = [file for file in os.listdir("Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data")]
for file in files:
    print(file)

In [0]:
 files = [file for file in os.listdir("Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data")]
all_month_data = pd.DataFrame()
for file in files:
   
    all_month_data = pd.concat([all_month_data df])
all_month_data.head

In [0]:
all_data = pd.read_csv("all_data.csv")
all_data.head()

In [0]:
nan_df = all_data[all_data.isna().any(axis=1)]
display(nan_df.head())

all_data = all_data.dropna(how='all')
all_data.head()

In [0]:
all_data = all_data[all_data["order Data"] str[0:2]!="Or"]

In [0]:
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])

In [0]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

In [0]:
all_data['Month 2'] = pd.to_datetime(all_data['Order Date']).dt.month
all_data.head()

In [0]:
def get_city(adress):
    return adress.split(",") [1] strip(" ") 

def get_state(adress):
    return adress.split(",")[2].split(" ")[1]
    all_data["City"] = all_data["Purchase Address"].apply(apply)

In [0]:
all_data['Sales'] = all_data['Quantity Ordered'].astype('int') * all_data['Price Each'].astype('float')

In [0]:
all_data.groupby(['Month']).sum()

In [0]:
import matplotlib.pyplot as plt
months = range(1,13)
print(months)

plt.bar(months,all_data.groupby(['Month']).sum()['Sales'])
plt.xticks(months)
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.show()

In [0]:
all_data.groupby(['City']).sum()

In [0]:

# Add hour column
all_data['Hour'] = pd.to_datetime(all_data['Order Date']).dt.hour
all_data['Minute'] = pd.to_datetime(all_data['Order Date']).dt.minute
all_data['Count'] = 1
all_data.head()

In [0]:
keys = [pair for pair, df in all_data.groupby(['Hour'])]

plt.plot(keys, all_data.groupby(['Hour']).count()['Count'])
plt.xticks(keys)
plt.grid()
plt.show()

# My recommendation is slightly before 11am or 7pm

In [0]:
# https://stackoverflow.com/questions/43348194/pandas-select-rows-if-id-appear-several-time
df = all_data[all_data['Order ID'].duplicated(keep=False)]

# Referenced: https://stackoverflow.com/questions/27298178/concatenate-strings-from-several-rows-using-pandas-groupby
df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
df2 = df[['Order ID', 'Grouped']].drop_duplicates()

In [0]:
# Referenced: https://stackoverflow.com/questions/52195887/counting-unique-pairs-of-numbers-into-a-python-dictionary
from itertools import combinations
from collections import Counter

count = Counter()

for row in df2['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

for key,value in count.most_common(10):
    print(key, value)

In [0]:
# Referenced: https://stackoverflow.com/questions/14762181/adding-a-y-axis-label-to-secondary-y-axis-in-matplotlib

prices = all_data.groupby('Product').mean()['Price Each']

fig, ax1 = plt.subplots()

ax2 = ax1.twinx()
ax1.bar(keys, quantity_ordered, color='g')
ax2.plot(keys, prices, color='b')

ax1.set_xlabel('Product Name')
ax1.set_ylabel('Quantity Ordered', color='g')
ax2.set_ylabel('Price ($)', color='b')
ax1.set_xticklabels(keys, rotation='vertical', size=8)

fig.show()